
#title {
	width: 99%;
	text-align: center;
}

#login, #search {
	border: 1px solid lightgrey;
}

#login {
	clear: both;
	float: left;
	width: 50%;
	height: 80px;
}

#search {
	float: left;
	width: 49.5%;
}

#logo, #top {
	border: 1px solid lightgrey;
}

#logo {
	clear: both;
	float: left;
	width: 20%;
}

#top {
	width: 59.5%;
	float: left;
}

#menu {
	clear: both;
	border: 1px solid lightgrey;
	background-color: green;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
}

#left, #content {
	float: left;
	border: 1px solid lightgrey;
	min-height: 300px;
}
#left {
	width: 30%;
}

#content {
	width: 69.1%;
}

#bottom {
	clear: both;
	color: white;
	border: 1px solid white;
	background-color: black;
}