
#title {
	width: 99%;
	text-align: center;
	text-shadow: 2px 2px red;
}

#login, #search {
	border: 1px solid lightgrey;
	max-height: 80px;
}

#login {
	background-color: #FFFFF0;
	clear: both;
	float: left;
	width: 100%;
	height: 80px;
	fond-size: 30px;
}

#search {
	float: left;
	width: 49.5%;
}

#logo, #top {
	border: 1px solid lightgrey;
}

#logo {
	background-color: lightpurple;
	clear: both;
	float: left;
	width: 20%;
}

#top {
	background-color: lightblue;
	width: 79.5%;
	float: left;
	height: 230px;
}

#menu {
	clear: both;
	border: 1px solid lightgrey;
	background-color: lightgreen;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
}

#left, #content {
	background-color: #FFFFF6;
	float: left;
	border: 1px solid lightgrey;
	min-height: 300px;
}
#left {
	width: 30%;
}

#content {
	width: 69.1%;
}

#bottom {
	clear: both;
	color: white;
	border: 1px solid white;
	background-color: black;
}
#labelUserName {
	font-size: 30px;
}