body{
	background-color: #FFFFFF;
	margin: 0px;
}

p {
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
	font-size: 15pt;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
	font-weight:lighter;
	text-transform: uppercase !important;
}

.wrapper {
	width: 100%;
	padding: 0 1% 0 1.6%;
	text-align: center;
}